<h1>Social todo app for cpsc113</h1>

{{#if errors}}
<div style="color:red">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h2>Welcome, {{currentUser.name}}</h2>
    <div>
        <h4>Your Tasks</h4>

        {{#if tasks}}
            <ul>
            {{#each tasks}}
                <li>{{this.title}}</li>
            {{/each}}
            </ul>
        {{else}}
            No tasks to show!
        {{/if}}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form action="/tasks/create" method="POST">
            <label for="title">Task title</label>
            <input name="title" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit">
        </form>        
    </div>
        
{{else}}
<div>
    <form class="login-form" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" type="text"><br>
        <input type="submit">
    </form>
</div>

<div><hr></div>

<div>
    <form action="/user/register" method="post" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <div>
        <button class="blue sign-up-submit">Sign Up</button>
      </div>
    </form>
</div>
{{/if}}