<h1>Social todo app for cpsc113</h1>

{{#if errors}}
<div style="color:red" class="validation-error">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h2>Welcome, {{currentUser.name}}</h2>
    <div>
        <h4>Your Tasks</h4>

        {{#if tasks}}
            <ul>
            {{#each tasks}}
                <li class="tasks-list-item">
                  <span class="task-title">{{this.title}}</span>
                  <form method="post">
                    <input type="button" name="delete-task" class="delete-task" value="Delete">
                  </form>
                  <form method="post">
                    <input type="button" name="toggle-task" class="toggle-task" value="Mark complete">
                  </form>
                </li>
            {{/each}}
            </ul>
        {{else}}
            No tasks to show!
        {{/if}}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form action="/task/create" method="POST">
            <label for="title">Task title</label>
            <input name="title" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit" class="create-task-submit">
        </form>
    </div>

{{else}}
<div>
    <form class="login" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" id="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password"  id="password" type="text"><br>
        <input type="submit"  class="log-in-submit">
    </form>
</div>

<div><hr></div>

<div>
    <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>
{{/if}}
